@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #079560;
    --secondary-color: #1a1e1d;
    --neutral-color: #687079;
    --dark-color: #1a1e1d;
    --font-family: "Jost", sans-serif;
    --nav-link-color: #1a1e1d;
    --nav-link-hover-color: #079560;
    --dropdown-bg: #fff;
}

body {
    font-family: var(--font-family) !important;
    background-color: white;
    overflow-x: hidden;
    width: 100%;
    color: #3c4852;
}
.swiper-button-prev, .swiper-button-next{
    color: #079560 !important;
    /* width: 20px !important; */
}
.hover-shadow-lg:hover {
    box-shadow: 0 1rem 3rem #0795615b !important;
    cursor: pointer;
}

.hover-translate-y-n3:hover {
    transform: translateY(-3px) !important;
}

.stat p {
    color: white !important;
}

/* Example of applying primary color globally */
a {
    color: var(--primary-color);
    text-decoration: none;
    font-family: "Poppins", sans-serif !important;
}

p {
    font-family: "Poppins", sans-serif !important;
}

span {
    font-family: "Poppins", sans-serif !important;
}

label {
    font-family: "Poppins", sans-serif !important;
}

a:hover {
    color: var(--nav-link-hover-color);
}

.left {
    text-align: left;
}

.white {
    color: white !important;
}

.footer p {
    color: white !important;
}

.light-grey {
    color: #747474 !important;
}

.green {
    color: #079560 !important;
}

.l-h-1 {
    line-height: 1.8em;
}

/* fonts */
.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px !important;
    font-weight: 600;
}

.font-15 {
    font-size: 15px !important;
    font-weight: 500;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
    font-weight: 600;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
    font-weight: 600;
}

.font-26 {
    font-size: 26px !important;
    font-weight: 600;
}

.font-30 {
    font-size: 30px !important;
    font-weight: 600;
}

.font-32 {
    font-size: 32px !important;
    font-weight: 600;
}

.font-40 {
    font-size: 40px !important;
    font-weight: 600;
}

.font-48 {
    font-size: 48px !important;
    font-weight: 600;
}

.l-s-0 {
    letter-spacing: 0 !important;
}

/* weights */
.weight-400 {
    font-weight: 400 !important;
}

.weight-500 {
    font-weight: 500 !important;
}

.weight-600 {
    font-weight: 600 !important;
}

.weight-700 {
    font-weight: 700 !important;
}

/* .container {
    width: 100%;
    max-width: 100%;
} */
/* 
.row {
    width: 100%;
    margin: 0 auto;
} */
/* .text-success{
    color: #026E3C !important;

}
.bg-success{
    background-color: #026E3C !important;

} */
.navbar {
    background-color: white !important;
    /* padding: 10px 30px; */
    text-align: center;
    justify-content: space-around;
}

.navbar-nav {
    gap: 12px;
    align-items: center;
}

.nav-link {
    color: var(--nav-link-color);
    font-size: 12px;
    font-weight: 600;
    width: fit-content;
    text-transform: uppercase;
    align-items: center;
    display: flex;
}

.nav-item .dropdown {
    align-items: center !important;
    display: flex !important;
}

.scrolling-wrap {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    gap: 20px;
    padding: 15px 0
}

.scrolling-wrap .comm {
    display: flex;
    align-items: center;
    animation: scroll 60s linear infinite;
    gap: 30px;
    cursor: pointer
}

.scrolling-wrap .comm .cmn-textslide {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
    color: var(--white);
    font-family: Poppins;
    display: flex;
    align-items: center;
    gap: 8px
}

.scrolling-wrap .comm .cmn-textslide i {
    font-size: 21px
}

.scrolling-wrap .comm .cmn-textslide.text-color-2 {
    color: var(--header)
}

.scrolling-wrap:hover .comm {
    animation-play-state: paused
}

@media(max-width: 1399px) {
    .scrolling-wrap .comm {
        gap: 20px
    }
}

@media(max-width: 991px) {

    .scrolling-wrap,
    .scrolling-wrap .comm {
        gap: 14px
    }
}

@media(max-width: 575px) {
    .scrolling-wrap .comm {
        gap: 12px
    }
}

.scrolling-wrap.style-2 {
    margin-top: -175px
}

.scrolling-wrap.style-2 .comm .stroke-text {
    -webkit-text-stroke: 1px #079560;
    -webkit-text-fill-color: transparent;
    font-size: 200px;
    font-weight: 600;
    line-height: 255px;

    animation: shine 3s infinite;
    -webkit-mask-image: linear-gradient(-75deg, hsla(0, 0%, 100%, .07) 50%, #fff 0, hsla(0, 0%, 100%, .07) 70%);
    -webkit-mask-size: 200%
}

.mycustom-marque.style-3 .scrolling-wrap {
    padding: 0
}

.mycustom-marque.style-3 .scrolling-wrap .cmn-textslide {
    font-size: 55px;
    font-weight: 600;
    color: var(--header)
}

@media(max-width: 767px) {
    .mycustom-marque.style-3 .scrolling-wrap .cmn-textslide {
        font-size: 40px
    }
}

@media(max-width: 575px) {
    .mycustom-marque.style-3 .scrolling-wrap .cmn-textslide {
        font-size: 36px
    }
}

.mycustom-marque.style-3 .scrolling-wrap .cmn-textslide i {
    font-size: 55px;
    color: var(--theme-red)
}

@media(max-width: 575px) {
    .mycustom-marque.style-3 .scrolling-wrap .cmn-textslide i {
        font-size: 44px
    }
}

.mycustom-marque.theme-green-bg-1 {
    background-color: #079560
}

.mycustom-marque.theme-green-bg {
    background-color: #079560
}

.mycustom-marque.theme-yellow-bg {
    background-color: #079560
}

.mycustom-marque.theme-yellow-bg .scrolling-wrap .comm {
    animation: scrolls 60s linear infinite;
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer
}

.mycustom-marque.theme-yellow-bg .scrolling-wrap .cmn-textslide,
.mycustom-marque.theme-yellow-bg .scrolling-wrap .cmn-textslide i {
    color: var(--header)
}

.mycustom-marque.theme-blue-bg-2 {
    background-color: #079560;
    position: static
}

.mycustom-marque.style-two .scrolling-wrap.style-2 {
    margin-top: -155px
}

.mycustom-marque.style-two .scrolling-wrap.style-2 .comm {
    color: rgba(3, 31, 66, .1)
}

.mycustom-marque.style-two .scrolling-wrap.style-2 .comm .stroke-text {
    -webkit-text-stroke: 1px var(--text);
    -webkit-text-fill-color: transparent;
    font-size: 200px;
    font-weight: 600;
    line-height: 255px;

    animation: shine 3s infinite;
    -webkit-mask-image: linear-gradient(-75deg, rgba(3, 31, 66, .1) 50%, var(--text) 50%, rgba(3, 31, 66, .1) 70%);
    -webkit-mask-size: 200%
}

.mycustom-marque.header-marque .scrolling-wrap {
    padding: 5px 0
}

@keyframes scroll {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

@keyframes scrolly {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-60%)
    }
}

@keyframes scrolls {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}

.offer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px black; */
    flex-direction: column;
}

.offer-1 {
    height: 35%;
    width: 90%;
    /* border: solid 1px blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.offer-2 {
    height: 80%;
    width: 85%;
    /* border: solid 1px green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.offer-1 h1 {
    color: rgb(1, 65, 28);
    font-size: 160%;
}

.offer-1 p {
    line-height: 25px;
    text-align: center;
}

.s {
    /* height: 400px; */
    height: 200px;
    background-color: #079560;
    border: solid 3px rgb(167, 167, 167);
    border-radius: 23px;
    position: relative;
}

.s-innerr {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #079560;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0);
    padding-left: 5%;
    padding-right: 5%;
}

.i {
    color: white;
    font-size: 350%;
}

.h {
    font-size: 180%;
    color: white;
}

.p {
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 100%;
}

.p1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    border-radius: 23px;
    top: 0%;
    transition: all linear 0.50s;
    background-color: #079560;
    opacity: 1;
    padding: 40px;
}

.p2 {
    transition: all linear 0.30s;
    transform: scale(1);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px white; */
    height: 100%;
    width: 100%;
}

.p2 button {
    padding: 10px 30px;
    border: solid 2px white;
    color: white;
    background-color: transparent;
}

.p2 h1 {
    color: white;
}

.s:hover .p1 {
    transform: scale(0);
    opacity: 0;
}

.s:hover .p2 {
    transform: scale(1);
    opacity: 1;
}

@media screen and (min-width:320px) and (max-width:480px) {

    .offer-2 {
        height: 100%;
        flex-direction: column;
    }

}

@media screen and (min-width:480px) and (max-width:769px) {


    .offer-2 {
        height: 100%;
        flex-direction: column;
    }

}

@media screen and (min-width:770px) and (max-width:1025px) {


    .offer-2 {
        height: 100%;

    }

    .offer-1 p {
        font-size: 120%;
    }

}

@media screen and (min-width:1200px) and (max-width:1300px) {
    .offer-1 p {
        font-size: 120%;
    }
}


@media screen and (max-width: 320px) {

    .offer-2 {
        width: 100%;
        flex-direction: column;
    }

    .s {
        width: 100%;
        flex-direction: column;
    }
}

.auth-buttons .btn {
    margin-left: 10px;
}

.navbar-toggler {
    border: 0;
}

.theme-blue-bg {
    background-color: #079560;
    color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

.nav-link:hover {
    color: var(--nav-link-hover-color);
}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
    max-width: 154px;
    margin-right: 26px;
}

.about-course h3 {
    color: #079560;
}

.btn-black {
    font-size: 13px;
    color: rgba(54, 54, 54, 0.991);
    padding: 12px 30px;
    background-color: #1a1e1d00;
    border-radius: 100px;
    border: 1px solid #1a1e1d00;
    font-weight: bold;
    font-weight: 600;
}

.btn-black:hover {
    background-color: #1a1e1d00;
    border: 1px solid #1a1e1d00;
    color: rgba(54, 54, 54, 0.991);
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.btn-green {
    position: relative;
    overflow: hidden;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.918);
    padding: 12px 30px;
    background-color: #079560;
    border-radius: 100px;
    border: 1px solid #079560;
    font-weight: 600;
    transition: color 0.3s ease, border 0.3s ease;
    z-index: 1;
}

.banner-content {
    position: relative;
    overflow: hidden;
    /* ensure particles don't spill out */
}

.banner-content .container {
    position: relative;
    z-index: 1;
    /* makes sure content stays above the particles */
}

/* .btn-green::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #000000;
    border-radius: 100px;
    transition: all 0.4s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
}

.btn-green:hover::before {
    width: 300%;
    height: 300%;
    transform: translate(-50%, -50%) scale(1);
} */

.btn-green:hover {
    opacity: 0.8;
    color: white;
    /* border: 1px solid #1a1e1d; */
}

.hero img {
    cursor: grab;
    width: 100%;
    height: auto;
}

.build {
    /* padding: 30px; */
}

.build-b-i,
.course-cat {
    gap: 10px;
    font-size: 20px;
    color: #079560;
    font-weight: 600;
    padding: 6px;
    transition: 0.3s ease;
}

.course-cat {
    border: 1px solid #1a1e1d;
    padding: 12px;
    border-radius: 10px;
}

.course-cat:hover {
    background-color: rgba(13, 226, 173, 0.089);
}

.course-cat span {
    font-size: 12px !important;
    color: #687079;
}

.build-b-i:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.082);
}

.build-b-i:hover .build-icon-btn,
.course-cat:hover .course-icon-btn {
    opacity: 0.4;
}

.build-icon-btn,
.course-icon-btn {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    width: 45px;
    height: 45px;
    border: 1px solid var(--primary-color);
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.build-icon-btn img,
.course-icon-btn img {
    width: 25px;
}

.build-img-big {
    width: 100%;
    height: auto;
}

.build h1 {
    font-size: 50px !important;
    font-weight: 600;
    padding-right: 10%;
}

.digital {
    text-align: center;
    justify-content: center;
    background-color: #1a1e1d;
    padding: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: white !important;
}

.d-p {
    background-color: #079560;
    border-radius: 20px;
    padding: 5px 15px;
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    font-weight: 600;
}

.d-p-2 {
    background-color: #079560;
    border-radius: 20px;
    padding: 5px 15px;
    width: fit-content;
    text-align: center;
    font-weight: 600;
}

.d-content {
    width: 60%;
    margin: 0 auto;
}

/* .digital-punjab {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} */

.vid-wrapper {
    margin: 0 auto;
    border-radius: 30px;
    transform: translateY(-10px);
    padding: 20px !important;
    position: relative;
    width: 94%;
    background-color: white;
}

.vid-container {
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    transform: scale(0.999);
}

.vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
}

.courses-cat {
    width: 100%;
    /* padding: 30px; */
    align-items: center;
    text-align: center;
    background-color: #f7f7f7;
}

.all-courses {
    padding: 5% 0px;
}

.view-all {
    float: right;
}

.courses-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.course {
    flex: 1 1 calc(33.333% - 20px);
    background: white;
    padding: 0px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* border: 1px solid #1a1e1d; */
    flex-direction: column;
    box-shadow: 0 0 20px rgba(94, 94, 94, 0.404);
}

.btn-green-sq {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.918);
    padding: 12px 30px;
    background-color: #079560;
    border-radius: 8px;
    border: 1px solid #079560;
    font-weight: 600;
    width: 100%;
    transition: 0.3s ease;
}

.btn-green-sq:hover {
    /* background-color: #1a1e1d;
    border: 1px solid #1a1e1d; */
    opacity: 0.8;
}

.course-card-details {
    padding: 14px 20px 20px 20px;
    width: 100%;
}

.course img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-round {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #079560;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: 0.3s ease;
}

.img-round img {
    width: 70%;
}

.img-round:hover {
    background-color: #1a1e1d;
}

.steps-cards {
    display: flex;

    gap: 10px;
    width: 100%;
    margin: 30px 0px;
}

.step-card {
    border: 2px dashed #079560;
    padding: 25px;
    border-radius: 10px;
    background-color: #ffffff00;
    color: #747474;
    /* height: fit-content; */
    transition: filter 0.3s ease;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
}

.step-card:hover {
    border: 2px dashed #1a1e1d;
}

.step-card:hover .step-icon img {
    filter: brightness(0);
}

.step-icon {
    width: 100%;
}

.step-icon img {
    width: 30px;
    transition: filter 0.3s ease;
}

.num {
    font-size: 30px;
    font-weight: bold;
    color: #079560;
    opacity: 0.15;
    text-align: right;
    transform: translate(20px, -8px);
    margin: 0;
}

.ratings {
    display: flex;
    align-items: center;
}

.ratings .rate {
    margin-left: 5px;
    padding-top: 3px;
}

.star-rating {
    display: flex;
    gap: 4px;
    font-size: 20px;
}

.star {
    color: #ccc;
    position: relative;
    display: inline-block;
}

.star.full {
    color: #f0ad4e;
}

.star.half::before {
    content: "★";
    color: #f0ad4e;
    position: absolute;
    width: 50%;
    overflow: hidden;
}

.footer {
    background-color: #079560;
    padding: 12% 5% 5% 2%;
    display: flex;
    width: 100%;
}

.logo-white {
    width: 50%;
    margin-bottom: 30px;
}

.social {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.social-button {
    border: 0;
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 0;
}

.social-button a {
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    margin: 0 auto;
}

.links {
    margin: 15px 0 !important;
}

.links a {
    color: white;
}

.contact-f a {
    font-size: 16px;
}

.contact-f p {
    margin-bottom: 30px !important;
}

.footer h2 {
    margin-bottom: 20px;
}

.banner {
    background-color: #079560;
    padding: 5% 2%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: white !important;
}

.banner p {

    color: white !important;
}

.banner-content {
    align-items: center;
    display: flex;
}

.banner-image {
    border-radius: 40px;
    border-right: 10px solid #198754;
    border-bottom: 10px solid #198754;
    border-top: 0;
    border-left: 0;
    position: relative;
    z-index: 100;
}

.cube {
    position: absolute;
    background-color: #1a1e1d;
    width: 70px;
    height: 70px;
    border: 10px solid #198754;
    transform: translate(-30px, -50px);
    z-index: 200;
}

.banner p {
    padding-right: 20px;
}

.platform {
    background-color: #1a1e1d;
    padding: 8% 3% 3% 3%;
    text-align: center;
    justify-content: center;
}

.stats {
    width: 86%;
    margin: 50px auto;
    justify-content: space-between;
}

.applynow {
    text-align: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}

.applynow h2 {
    font-size: 30px;
}

.login {
    background-color: #079560;
    padding: 150px 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form {
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    max-width: 35%;
    width: 100%;
}

.login-form label {
    color: #3c4852;
}

.login-form img {
    width: 150px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #079560 !important;
}

.breadcrums {
    background-color: #079560;
    color: white;
    padding: 50px 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

p {
    color: #3c4852 !important;
}

.certificate {
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}

.contact {
    background-color: #079561e8;
    margin-top: -7px;
    padding: 80px 0px;
}

.contact label {
    color: white;
}

.hbtnhr {
    background-color: #198754;
    height: 5px !important;
    opacity: 1;
    margin-top: -1px;
    border: none !important;
}

.rounded-cus {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.stepers {
    border: 1px solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.register-inner {
    background-color: #dda30b;
    padding: 30px;
    margin: 0px 20px;
    border-radius: 10px;
}

.drop_box {
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 3px dotted #a3a3a3; */
    border-radius: 5px;
    background-color: #079560;
    color: white !important;
}

.drop_box p {
    color: white !important;

}

.fa-cloud-upload-alt {
    color: white !important;

}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

.register label {
    color: #079560 !important;
    font-weight: 600;
}

.alert-warning {
    background-color: #fff5e9 !important;
    color: #ff9b20 !important;
}

.alert-warning p {
    color: #ff9b20 !important;
}

.alert-warning ul li {
    color: #ff9b20 !important;
}

.video-container {
    position: relative;
    /* padding-bottom: 56.25%;   */
    height: 0;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #079560;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.process-box {
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 7px 0 #00000057;
}

.process-box-desktop {
    height: 200px;
}

.process-step {
    background: #079560;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #fff;

    gap: 10px;
    padding: 10px;
    font-size: 15px !important;
    height: 100%;
    padding-top: 8px;
    position: relative;
    top: -10px;
    border-radius: 0px 0px 10px 10px;
    /* border-radius: 20px; */
    box-shadow: -6px 8px 0px 0px #00000014;
}

/* .process-step:before {
    content: "";
    border-top: 8px solid #ff000000;
    border-bottom: 8px solid #079560;
    border-left: 8px solid #079560;
    border-right: 8px solid #ff000000;
    display: inline-grid;
    position: absolute;
    right: -16px;
    top: 0;
} */

.process-step p {
    font-size: 20px;
}

.process-step h2 {
    font-size: 40px;
    color: #ffffff !important;
}

/* .process-step:after {
    content: "";
    border-top: 8px solid #04889800;
    border-bottom: 8px solid #079560;
    border-left: 8px solid #04889800;
    border-right: 8px solid #079560;
    display: inline-grid;
    position: absolute;
    left: -16px;
    top: 0;
} */

.process-line-l {
    background: #079560;
    height: 4px;
    position: absolute;
    width: 102px;
    right: -122px;
    top: 98px;
    z-index: 9;
}

.process-left:after {
    content: "";
    border-top: 15px solid #ffffff;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    display: inline-grid;
    position: absolute;
    right: -15px;
    top: 42%;
    transform: rotate(45deg);
    box-shadow: 3px -2px 3px 0px #00000036;
    z-index: 1;
}

.process-last:before {
    display: none !important;
}

.process-point-right:before {
    content: "";
    height: 395px;
    width: 11px;
    background: #079560;
    display: inline-grid;
    position: relative;
    top: -6px;
    z-index: -1;
}

.terms h5 {
    font-family: Poppins;
}

.terms h1 {
    font-family: Poppins;
}

.terms strong {
    color: black;
}

.copy {
    background-color: #079560;
}

.process-point-right {
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    box-shadow: 0 0 0px 4px #079560;
    margin: auto 0;
    position: absolute;
    bottom: 88px;
    left: -102px;
}

.process-point-left {
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    box-shadow: 0 0 0px 4px #079560;
    margin: auto 0;
    position: absolute;
    bottom: 88px;
    right: -128px;
}

.process-point-left:before {
    content: "";
    height: 252px;
    width: 11px;
    background: #079560;
    display: inline-grid;
    position: relative;
    left: -1px;
    z-index: -1;
    top: -8px;
}
.process-point-left.last-point:before {  
    background: #ffffff;
}

.process-line-l {
    background: #02010021;
    height: 4px;
    position: absolute;
    width: 110px;
    right: -131px;
    top: 98px;
    z-index: 9;
}

.cus-container {
    max-width: 1200px !important;
    margin: auto !important;
}


.text-reveal {
    /* display: flex;
    flex-wrap: wrap;
    line-height: 1.7; */
    /* justify-content: center; */
}

.text-reveal .word {
    opacity: 0.2;
    transition: opacity 0.6s ease;
    display: inline-block;
}
.visible {
    visibility: visible !important;
}

.text-reveal .word.visible {
    opacity: 1;
}

.process-line-r {
    background: #02010021;
    height: 4px;
    position: absolute;
    width: 78px;
    left: -91px;
    top: 97px;
    z-index: -39;
}

.process-right:after {
    content: "";
    border-top: 15px solid #ffffff00;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff00;
    display: inline-grid;
    position: absolute;
    left: -15px;
    top: 42%;
    transform: rotate(45deg);
    box-shadow: -1px 1px 3px 0px #0000001a;
    z-index: 1;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.logos img {
    width: 150px;
}

.process-step p {
    color: white !important;
}

.teams-card {
    gap: 10px 10px;
    border-radius: 20px 20px 20px 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    text-align: center;
}

.teams-card span {
    color: #079560;
    font-weight: 600;
}

.test {
    padding: 30px;
    background-color: white;
    color: #4c4c4c;
}

.test span {
    color: #939393;
}

.anwsers {
    border: 1px solid #9393933e;
    max-width: 30%;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.rwd-table {
    border-radius: 10px !important;
    margin-bottom: 0px;
}

.first-td td {
    background-color: #dda30b !important;
}

.rwd-table tbody tr:nth-child(odd) td {
    background-color: #f7e7c3;
    padding: 15px;
}

.rwd-table table tbody {
    background-color: #fff1d0;
}

.rwd-table tbody tr:nth-child(even) td {
    background-color: #fff1d0;
    padding: 15px;
}

table tr {
    background-color: #f7e7c3 !important;
    font-family: "Poppins";
}

.shadow-box {
    border: 2px solid #d1d6db;

    width: 100%;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.alert-primary {
    color: #0055ff;
    background-color: #eaf1ff;
    border-color: #eaf1ff;
}

.alert-success {
    color: #27b737;
    background-color: #e9ffeb;
    border-color: #e9ffeb;
}

ul li {
    color: #3c4852 !important;
    font-family: "Poppins";
}

.alert-warning {
    color: #ff9b20;
    background-color: #fff5e9;
    border-color: #fff5e9;
}

.alert-info {
    color: #08a7c1;
    background-color: #effdff;
    border-color: #effdff;
}

.alert-danger {
    color: #f33066;
    background-color: #ffe9e9;
    border-color: #ffe9e9;
}

.alert-dark {
    color: #3e4758;
    background-color: #eff4ff;
    border-color: #eff4ff;
}

.alert-secondary {
    color: #4b5d6f;
    background-color: #d6dfe8;
    border-color: #d6dfe8;
}

.banks {
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}

.banks .shadow-box {
    width: fit-content;
}

.banks img {
    width: 100px;
}


.payment-header {
    background-color: #079560;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.payment-options .nav-link{
    border: 1px solid gainsboro;
}
.payment-options .nav-link .icon{
    color: #000;
    background-color: #bed6fc;
    padding: 1rem;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment-options .nav-link.active{
    border: 1px solid #0d6efd;
    background: #e6eefb;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.payment-options .nav-link h4{
    color: #000;
    font-size: 18px;
}
.payment-options-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.accordion-button:not(.collapsed) {
    color: white !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    font-weight: 700 !important;
    background-color: #079560 !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button {
    font-weight: 700 !important;
    border-radius: 15px !important;
    font-family: "Poppins";
}

.accordion-item {
    border-radius: 15px !important;
    margin-bottom: 12px;
    border: none !important;
    box-shadow: 0 10px 50px 0 rgba(26, 46, 85, .1);
}

@media (max-width: 1399px) {
    .nav-link {
        font-size: 10px;
    }

    .auth-buttons .btn {
        margin-left: 10px;
        font-size: 12px;
    }

    .anwsers {
        max-width: 90%;
    }
}

@media (max-width: 1199px) {
    .desktop {
        display: none;
    }

    .steps-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .mobile {
        display: block;
    }

}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #079560 !important;
}

@media (max-width: 992px) {
    .course {
        flex: 1 1 calc(50% - 20px);
    }

    .navbar-nav {
        align-items: start;
        padding-left: 13px;
    }

    .step-card {
        flex: 1 1 calc(50% - 20px);
    }

    .view-all {
        float: none;
        margin-bottom: 40px;
    }

    .applynow h2 {
        font-size: 22px;
    }

    .font-48 {
        font-size: 28px !important;
        font-weight: 600;
    }

    .nav-link {
        font-size: 14px;
    }

    .d-content {
        width: 100%;
    }

    .btn-black {
        font-size: 14px !important;
    }

    .build h1 {
        font-size: 27px !important;
        font-weight: 600;
        padding-right: 10%;
    }

    .build {
        margin-bottom: 20px;
    }

    .build-b-i {
        font-size: 16px;
        align-items: center;
    }

    .build-icon-btn img,
    .course-icon-btn img {
        width: 25px;
    }

    .build-icon-btn,
    .course-icon-btn {
        background-color: var(--primary-color);
        border-radius: 10px;
        padding: 10px;
        width: 45px;
        height: 45px;
        border: 1px solid var(--primary-color);
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .all-courses {
        padding: 20px;
    }

    .contianer {
        padding: 0px 20px !important;
    }

    .container {
        padding: 0px 20px !important;
    }

    .font-32 {
        font-size: 22px !important;
        font-weight: 600;
    }

    /* 
    .courses-cat {
        padding: 30px 20px;
    } */

    .auth-buttons {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .all-courses {
        padding: 5% 20px !important;
    }

    .login-form {
        max-width: 100%;
        width: 100%;
    }

    .login {
        padding: 100px 20px;
    }

    .cus-container {
        max-width: 1200px !important;
        margin: auto !important;
        padding: 0px 20px;
    }

    .process-line-r {
        display: none !important;
    }

    .process-line-l {
        display: none !important;
    }

    .process-point-right {
        display: none !important;
    }

    .process-box-desktop {
        height: auto !important;
    }
}

@media (max-width: 600px) {
    .step-card {
        flex: 1 1 100%;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons button {
        width: 100% !important;
    }
}

@media (max-width: 430px) {
    .logos img {
        width: 100px;
    }

    .btn-green {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.918);
        padding: 7px 16px;
        background-color: #079560;
        border-radius: 100px;
        border: 1px solid #079560;
        font-weight: 600;
        transition: 0.3s ease;
    }
}

.playlist-holder {padding: 20px; border-radius: 12px; background-color: #fff; width: 95%; margin: auto; margin-top: -20px; z-index: 1;}
.vid-wrapper-new {position: relative; border-radius: 12px; background-color: #fff; overflow: hidden; margin-right: 20px;}
.vid-wrapper-new::before {content: ''; padding-bottom: 55%; display: block;}
.vid-wrapper-new iframe {position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: contain; background-color: #fff;}

.playlist-scroll {height: 530px; overflow-y: auto; padding-right: 7px;}
.playlist-scroll .thumbnail {width: 100%; overflow: hidden; border-radius: 8px; cursor: pointer; margin-bottom: 10px;}

@media screen and (max-width: 1200px) {
    .playlist-scroll {height: 380px;}
}
@media screen and (max-width: 991px) {
    .playlist-scroll {height: 240px;}
}
@media screen and (max-width: 767px) {
    .playlist-holder {padding: 15px 10px;}
    .vid-wrapper-new {margin-right: 0;}
    .playlist-scroll {height: auto; overflow-x: auto; overflow-y: unset; display: flex; flex-direction: row;}
    .playlist-scroll .thumbnail {min-width: 120px; margin-bottom: 2px !important;}
    .playlist-scroll .thumbnail:not(:last-child) {margin-right: 8px;}
}